<% unless pquestion.hidden? %>
      <div class="panel-heading panel-title"><%= strip_tags(pquestion.question) %></div>
      <ul id="qid<%= pquestion.qid %>">
        <% pquestion.stats.mult_short_answers.each do |key, values| %>
              <% unless values.empty? %>
                <li><b><%= key %>:</b></li>
                  <ol>
                    <% values.each do |value| %>
                      <li><%= value %></li>
                    <% end %>
                  </ol>
              <% end %>
         <% end %>
       </ul>
<% end %>
