<% unless pquestion.hidden? %>
      <div class="panel-heading panel-title"><%= strip_tags(pquestion.question) %></div>
      <ol id="qid<%= pquestion.qid %>" class="sub-question">
        <% pquestion.response_set.data.uniq.each do |ans| %>
           <% unless ans.to_s.empty? %>
              <li><%= strip_tags(ans.to_i.to_s) %></li>
           <% end %>
         <% end %>
       </ol>
<% end %>
