<div class="col-md-8 fade-in two">
<% @survey_label_ordered.each do |program, program_labels| %>
  <h1><%= SurveyLabel.human_attribute_name("program.#{program}") %></h1>
  <table class="table table-hover">
    <tbody>
    <% # Sort groups alphabetically and display %>
    <% program_labels.each do |survey_label|  %>

      <tr>
          <td>
            <%= link_to(survey_label.title, "#{ls_report_path(survey_label.lime_survey_sid)}/graph", {style: "text-decoration:none;"}) %>
          </td>
    </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
</div>

<%= render :partial=>'shared/modal_spinner', :locals=>{:modal_id=>'modal-dataset', :message=>'Loading Dataset'}%>
